* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body {
    font-family: 'Roboto Slab', serif;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
.center {
    text-align: center;
    margin-top: 100px;
}
.logoJavaScript{
  width: 250px;
  display: flex;
  text-align: center;
  margin: 0 auto;
}
.active {
    color:crimson;
    border-bottom: 5px solid  #222;
}